/*

font-family:'Rockwell W01 Bold';
font-family:'Rockwell W01';

*/
.clear {
	clear: both;
}
body {
	font-family: Arial, sans-serif;
	background: white;
	padding: 0;
	margin: 0;
}
.indicator {
    background: url(/img/ajax-loader.gif) center 200px no-repeat;
    display: none;
    height: 1018px;
    width: 100%;
}
a {
	text-decoration: none;
}
header {

}
#splash {
	width: 100%;
	height: 1018px;
	background: url(/img/splash-bg.jpg) center center no-repeat;
}
#logo {
	display: block;
	width: 145px;
	height: 54px;
	background: url(/img/logo.png) 0 6px no-repeat;
}
#wrapper {
	width: 100%;
}
#products {
	list-style-type: none;
	padding: 0;
	margin: 20px 10px;
}
#products li {
	padding: 0;
	position: relative;
	height: auto;
	margin-bottom: 10px;
	border: 1px solid #A7A9AB;
}
#products li:hover {
	border: 1px solid #999;
}
#products li a.item {
	
	padding-bottom: 24px;
	z-index: 5;
}
#products li .item img {
	margin: 0;
	margin: 5px 5px 2px 5px;
}
#products li .item .price {
	position: absolute;
	left: 0px;
	top: 12px;
	z-index: 1;
	height: 15px;
	line-height: 15px;
	background: url(/img/tag-bg.png) right top no-repeat;
	font-size: 14px;
	color: white;
	font-weight: bold;
	padding: 7px 15px 7px 5px;
}
.rating {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
	background: white;
	width: 100%;
	height: 24px;
	opacity: 0.6;
}
.current-rating {
	position: absolute;
	right: 27px;
	bottom: 6px;
	z-index: 3;
	color: rgb(102, 102, 102);
	font-size: 12px;
	font-weight: 700;
}
#products li .item-overlay {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
}
#products li .brand-prod-name {
	font-size: 12px;
	color: #555;
	position: absolute;
	bottom: 30px;
	left: 9px;
	z-index: 3;
	text-shadow: 0.5px 0.5px black;
	font-weight: bold;
}
#products li .item-overlay .like-buttons {

}
#products li .item-overlay .like-buttons .thumbs-up {

}
#products li .item-overlay .like-buttons .thumbs-down {

}
#products li .item-overlay .save-for-later {

}


/* MASONRY */
.col1 { width: 80px; }
.col2 { width: 180px; }
.col3 { width: 280px; }
.col4 { width: 380px; }
.col5 { width: 480px; }

.col1 img { max-width: 80px; }
.col2 img { max-width: 170px; }
.col3 img { max-width: 280px; }
.col4 img { max-width: 380px; }
.col5 img { max-width: 480px; }

.like-button {
	background: url(/img/hearts.png) 0 0 no-repeat;
	position: absolute;
	z-index: 10;
	right: 6px;
	bottom: 6px;
	height: 15px;
	width: 17px;
	cursor: pointer;
}
.like-button:hover, .like-button.hit {
	background: url(/img/hearts.png) -17px 0 no-repeat;
}
#womens-styles-cont, #mens-styles-cont {
	display: none;
}
.style-choices {
	list-style-type: none;
	margin: 0 auto 0;
	text-align: center;
}
.style-choices li {
	margin: 0;
	padding: 0;
	display: inline-block;
	position: relative;
	text-align: center;
	width: 170px;
	cursor: pointer;
}
.style-choices .btn-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.style-choices button {
	font-size: 15px;
	text-transform: uppercase;
	font-family:'Rockwell W01';
	text-align: center;
	background: url(/img/btn-gray.png) 0 0 repeat-x;
	text-align: center;
	border: none;
	border-radius: 16px;
	height: 42px;
	display: block;
	margin: 82px auto 0;
	padding-left: 12px;
	padding-right: 12px;
	color: white;
	cursor: pointer;
}
.style-choices li:hover button {
	background: #3D3D3D;
}
#lightbox-gender {
	z-index: 100;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	width: 420px;
	margin-left: -210px;
	height: 414px;
	margin-top: -207px;
}
#lightbox-gender h2 {
	text-align: center;
	font-family:'Rockwell W01';
	text-transform: uppercase;
	background: url(/img/h2-bg.png) 0 0 repeat-x;
	height: 42px;
	color: white;
	padding-top:18px;
	line-height: 100%;
	border-radius: 4px;
	font-weight: normal;
}
header {
	font-family:'Rockwell W01';
	background: url(/img/h2-bg.png) 0 0 repeat-x;
	color: white;
	line-height: 100%;
	width: 100%;
	height: 60px;
	margin: 0;
}
.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
h1 {
	margin-top: 40px;
	font-size: 35px;
	padding: 22px 0;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	color: black;
	font-family:'Rockwell W01';
}
#lightbox-style {

}
#dimmer {
	z-index: 99;
	background: white;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.gender-option {
	width: 196px;
	height: 206px;
	border: 4px solid #696A6C;
	background: white;
	border-radius: 24px;
	float: left;
	cursor: pointer;
}
.gender-option.male { background: white url(/img/male.png) 0 0 no-repeat; }
.gender-option.male:hover { background: white url(/img/male.png) -196px 0 no-repeat; }
.gender-option.female { background: white url(/img/female.png) 0 0 no-repeat; margin-right: 12px; }
.gender-option.female:hover { background: white url(/img/female.png) -196px 0 no-repeat; }
#header-menu {
	text-align: right;
	position: absolute;
	right: 0;
	bottom: 5px;
	font-size: 14px;
}
#header-menu a {
	color: white;
}
#header-menu a:hover {
	color: #FAAF3E;
}
#search-bar {
	background: url(/img/search-bg.png) 0 0 repeat-x;
	height: 28px;
}
#active-filters {
	list-style-type: none;
	padding: 4px 0 0 0;
	margin: 0;
}
#active-filters li {
	height: 12px;
	background: #7F8184;
	border-radius: 4px;
	margin: 0 4px 0 0;
	float: left;
	padding: 4px 6px 4px 6px;
	color: white;
	font-size: 11px;
	cursor: pointer;
}
#active-filters li span.close {
	display: block;
	background: url(/img/filter-close.png) 0 bottom no-repeat;
	width: 10px;
	height: 10px;
	float: left;
	margin-right: 3px;
	cursor: pointer;
}
#active-filters li:hover {
	background: #333;
}
#search {
	float: right;
	padding: 0;
	margin-top: -2px;
}
#search form {
	padding: 0;
}
#query {
	border-radius: 3px;
	border: 1px solid #999;
	background: #eee;
	float: left;
	height: 20px;
	font-size: 14px;
	padding-left: 3px;
	padding-right: 3px;
	width: 200px;
}
#search-btn {
	background: url(/img/add-button.png) 0 0 no-repeat;
	width: 63px;
	height: 25px;
	border: none;
	float: left;
	margin-top:-1px;
	cursor: pointer;
}
#styles-btn {
	background: url(/img/styles-btn.png) 0 0 no-repeat;
	width: 41Fpx;
	height: 124px;
	position: fixed;
	left:0;
	top: 50%;
	margin-top: -62px;
	cursor: pointer;
	margin-left: -5px;
	z-index: 90;
	display: none;
}
#styles-btn:hover {
	margin-left: 0;
}
/* override ui style */
.ui-menu {
    z-index: 10 !important;
}
#type_filter {
	font-family:'Rockwell W01';
	display: none;
	margin-top: 5px;
}
#type_filter a {
	color: #333;
	border-right: #eee solid 1px;
	padding: 0 6px;
	font-size: 14px;
}
#type_filter a:hover {
	color: #F47D31;
}
#type_filter a:last-child {
	border-right: none;
}
#type_filter a:first-child {
	padding-left: 0;
}
#back-btn {
	background: url(/img/back.png) 0 0 no-repeat;
	height: 17px;
	padding: 3px 0 5px 30px;
	font-family:'Rockwell W01';
	font-size: 17px;
	line-height: 17px;
	color: #eee;
	position: absolute;
	top: 18px;
	left: 12px;
	display: none;
	cursor: pointer;
}
#back-btn:hover {
	background: url(/img/back.png) -100px 0 no-repeat;
	color: white;
}