input::-webkit-input-placeholder {
    font-style: italic; 
    text-align: right;
}

input:-moz-placeholder {  
    font-style: italic;
    text-align: right; 
}
:focus, a:active {
  -moz-outline-style: none;
  outline: none;
}
.clear {
	clear: both;
}
body {
	font-family: Arial, sans-serif;
	background: white;
	padding: 0;
	margin: 0;
}
.indicator {
    background: url(/img/ajax-loader.gif) center 200px no-repeat;
    display: none;
    height: 1018px;
    width: 100%;
}
a {
	text-decoration: none;
}
header {

}
#splash {
	width: 100%;
	height: 1198px;
	margin-top: 10px;
	background: url(/img/splash-bg-halloween.jpg) center center no-repeat;
}
#logo {
	display: block;
	width: 145px;
	height: 54px;
	background: url(/img/logo.png) 0 6px no-repeat;
	float: left;
}
#wrapper {
	width: 100%;
}
#products {
	list-style-type: none;
	padding: 0;
	margin: 20px auto;
	width: 90%;
	padding-left: 10px;
	display: none;
}
#products li {
	padding: 0;
	position: relative;
	height: auto;
	margin-bottom: 10px;
	border: 1px solid #A7A9AB;
}
#products li:hover {
	border: 1px solid #999;
}
#products li a.item {
	
	padding-bottom: 24px;
	z-index: 5;
	text-align: center;
}
#products li .item img {
	margin: 0;
	width: 260px;
	margin: 5px 5px 2px 5px;
}
#products li .item .price {
	position: absolute;
	left: 0px;
	top: 12px;
	z-index: 1;
	height: 15px;
	line-height: 15px;
	background: url(/img/tag-bg.png) right top no-repeat;
	font-size: 14px;
	color: white;
	font-weight: bold;
	padding: 7px 15px 7px 5px;
	font-family: 'Rockwell W01';
}
.rating {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
	background: white;
	width: 100%;
	height: 24px;
	opacity: 0.6;
}
.current-rating {
	position: absolute;
	right: 27px;
	bottom: 6px;
	z-index: 3;
	color: rgb(102, 102, 102);
	font-size: 12px;
	font-weight: 700;
}
#products li .item-overlay {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
}
#products li .brand-prod-name {
	font-size: 12px;
	color: #555;
	position: absolute;
	bottom: 30px;
	left: 9px;
	z-index: 3;
	text-shadow: 0.5px 0.5px black;
	font-weight: bold;
}
#products li .item-overlay .like-buttons {

}
#products li .item-overlay .like-buttons .thumbs-up {

}
#products li .item-overlay .like-buttons .thumbs-down {

}
#products li .item-overlay .save-for-later {

}


/* MASONRY */
.col1 { width: 90px; }
.col2 { width: 180px; }
.col3 { width: 270px; }
.col4 { width: 360px; }
.col5 { width: 450px; }

.col1 img { width: 80px; }
.col2 img { width: 160px; }
.col3 img { width: 240px; }
.col4 img { width: 320px; }
.col5 img { width: 400px; }

.like-button {
	background: url(/img/hearts.png) 0 0 no-repeat;
	position: absolute;
	z-index: 10;
	right: 6px;
	bottom: 6px;
	height: 15px;
	width: 17px;
	cursor: pointer;
}
.like-button:hover, .like-button.hit {
	background: url(/img/hearts.png) -17px 0 no-repeat;
}
#womens-styles-cont, #mens-styles-cont {
	display: none;
}
.style-choices {
	list-style-type: none;
	margin: 0 auto 0;
	text-align: center;
	padding: 0;
}
.style-choices li {
	margin: 0;
	padding: 0;
	display: inline-block;
	position: relative;
	text-align: center;
	width: 170px;
	cursor: pointer;
}
.style-choices .btn-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.style-choices button {
	font-size: 15px;
	text-transform: uppercase;
	font-family:'Rockwell W01';
	text-align: center;
	background: url(/img/btn-gray.png) 0 0 repeat-x;
	text-align: center;
	border: none;
	border-radius: 16px;
	height: 42px;
	display: block;
	margin: 240px auto 0;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 2px;
	color: white;
	cursor: pointer;
	line-height: 90%;
}
.style-choices li:hover button {
	background: #3D3D3D;
}
#lightbox-gender {
	z-index: 100;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	width: 420px;
	margin-left: -210px;
	height: 414px;
	margin-top: -207px;
}
#lightbox-gender h2 {
	text-align: center;
	font-family:'Rockwell W01';
	text-transform: uppercase;
	background: url(/img/h2-bg.png) 0 0 repeat-x;
	height: 42px;
	color: white;
	padding-top:18px;
	line-height: 100%;
	border-radius: 4px;
	font-weight: normal;
}
header {
	font-family:'Rockwell W01';
	background: url(/img/h2-bg.png) 0 0 repeat-x;
	color: white;
	line-height: 100%;
	width: 100%;
	height: 60px;
	margin: 0;
}
.container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
h1 {
	margin-top: 0px;
	font-size: 35px;
	padding: 22px 0;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	color: black;
	font-family:'Rockwell W01';
}
#lightbox-style {

}
#dimmer {
	z-index: 99;
	background: white;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.gender-option {
	width: 196px;
	height: 206px;
	border: 4px solid #696A6C;
	background: white;
	border-radius: 24px;
	float: left;
	cursor: pointer;
}
.gender-option.male { background: white url(/img/male-halloween.png) 0 0 no-repeat; }
.gender-option.male:hover { background: white url(/img/male-halloween.png) -196px 0 no-repeat; }
.gender-option.female { background: white url(/img/female-halloween.png) 0 0 no-repeat; margin-right: 12px; }
.gender-option.female:hover { background: white url(/img/female-halloween.png) -196px 0 no-repeat; }
#header-menu {
	text-align: right;
	position: absolute;
	top: 12px;
	right: 0;
	bottom: 4px;
	font-size: 14px;
	line-height: 90%;
}
#header-menu a {
	color: #eee;
}
#header-menu a:hover {
	color: #FAAF3E;
}
#search-bar {
	background: url(/img/search-bg.png) 0 0 repeat-x;
	height: 28px;
}
#active-filters {
	list-style-type: none;
	padding: 4px 0 0 0;
	margin: 0;
}
#active-filters li {
	height: 12px;
	background: #7F8184;
	border-radius: 4px;
	margin: 0 4px 0 0;
	float: left;
	padding: 4px 6px 4px 6px;
	color: white;
	font-size: 11px;
	cursor: pointer;
}
#active-filters li span.close {
	display: block;
	background: url(/img/filter-close.png) 0 bottom no-repeat;
	width: 10px;
	height: 10px;
	float: left;
	margin-right: 3px;
	cursor: pointer;
}
#active-filters li:hover {
	background: #555;
}
#search {
	float: right;
	padding: 0;
	margin-top: -2px;
}
#search form {
	padding: 0;
}
#query {
	border-radius: 3px;
	border: 1px solid #999;
	background: #eee;
	float: left;
	height: 20px;
	font-size: 14px;
	padding-left: 3px;
	padding-right: 3px;
	width: 200px;
	box-shadow: inset 1px 1px 1px #ccc;
}
#search-btn {
	background: url(/img/add-button.png) 0 0 no-repeat;
	width: 63px;
	height: 25px;
	border: none;
	float: left;
	margin-top:-1px;
	cursor: pointer;
}
#styles-btn {
	background: url(/img/styles-btn.png) 0 0 no-repeat;
	width: 41px;
	height: 124px;
	position: fixed;
	left:0;
	top: 50%;
	margin-top: -62px;
	cursor: pointer;
	margin-left: -5px;
	z-index: 90;
	display: none;
	opacity: 0.8;
}
#styles-btn:hover {
	margin-left: 0;
	opacity: 1.0;
}
/* override ui style */
.ui-menu {
    z-index: 10 !important;
}
#type_filter {
	font-family:'Rockwell W01';
	display: none;
	padding-top: 5px;
}
@-moz-document url-prefix() {
	#type_filter {
		padding-top: 0px;
	}
}
#type_filter a {
	color: #333;
	border-right: #999 solid 1px;
	padding: 0 6px;
	font-size: 14px;
	line-height: 14px;
	height: 14px;
}
#type_filter a:hover, #type_filter a.hit {
	color: #F47D31;
}
#type_filter a:last-child {
	border-right: none;
}
#type_filter a:first-child {
	padding-left: 0;
}
#back-btn {
	background: url(/img/back.png) 0 0 no-repeat;
	height: 17px;
	padding: 3px 0 5px 30px;
	font-family:'Rockwell W01';
	font-size: 17px;
	line-height: 17px;
	color: #eee;
	position: absolute;
	top: 18px;
	left: 12px;
	cursor: pointer;
	display: block;
}
#back-btn:hover {
	background: url(/img/back.png) -100px 0 no-repeat;
	color: white;
}
#back-btn.hide {
	display: none;
}
@media only screen and (max-width: 1150px) {
	#back-btn {
		display: none;
	}
}
a#twitter-icon {
	width: 16px;
	height: 16px;
	background: url(/img/twitter_16.png) 0 0 no-repeat;
	display: block;
	float: right;
	margin-left: 6px;
	margin-top:-2px;
}
a#twitter-icon:hover {
	background: url(/img/twitter_16.png) -16px 0 no-repeat;
}
a#facebook-icon {
	width: 16px;
	height: 16px;
	background: url(/img/facebook_16.png) 0 0 no-repeat;
	display: block;
	float: right;
	margin-left: 10px;
	margin-top:-2px;
}
a#facebook-icon:hover {
	background: url(/img/facebook_16.png) -16px 0 no-repeat;
}
#footer {
	border-top: #eee solid 1px;
	padding-top: 6px;
	margin-bottom: 20px;
	margin-top: 60px;
	text-align: center;
	font-size: 11px;
	color: #666;
}
#halloween-banner {
	width: 496px;
	height: 45px;
	float: left;
	background: url(/img/halloween-banner.png) 0 0 no-repeat;
	margin-left: 90px;
	margin-top: 8px;
}
#womens-styles-cont .Sexy .gray-large {
	margin-top: 229px;
}
#mens-styles-cont .Random {
	width: 203px;
}
#mens-styles-cont .Scary {
	width: 193px;
}
#mens-styles-cont .Role {
	width: 193px;
}
#mens-styles-cont .Movie {
	width: 237px;
}
#mens-styles-cont .Funny {
	width: 201px;
}
div#page-cont {
	width: 800px;
	margin: 75px auto;
	color: #404040;
}
#page-content {
	float: left;
	width: 480px;
	margin-right: 60px;
	font-size: 12px;
}
#page-cont h1 {
	font-family: 'Rockwell W01';
	font-size: 29px;
	line-height: 29px;
	text-transform: lowercase;
	text-align: left;
	font-weight: normal;
	color: #404040;
}
#page-content h2 {
	font-family: 'Rockwell W01';
	font-size: 25px;
	color: #404040;
}
div#contact-sidebar {
	float: left;
	border-left: 1px solid #808284;
	height: 340px;
	padding-left: 39px;
	padding-top: 108px;
	width: 220px;
}
#contact-sidebar h2 {
	margin-top: 0;
	font-family: 'Rockwell W01';
	text-transform: lowercase;
	font-weight: normal;
}
#contact-sidebar p {
	margin-top: 0;
	color: #808284;
	font-size: 13px;
	line-height: 1.8em;
}
#contact-sidebar a {
	color: #808284;
	text-decoration: none;
}
#lightbox-product {
	background: white;
	box-shadow: 0 0 6px 2px #aaa;
	width: 726px;
	height: 460px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -383px;
	margin-top: -250px;
	padding: 20px;
	z-index: 1000;
	display: none;
}
.lp-img-full {
	float: left;
	margin-right: 14px;
	width: 300px;
	text-align: center;
}
.lp-img-full img {
	height: 460px;
}
.lp-content-right {
	float: left;
	width: 312px;
}
.lp-name {
	color: #808284;
	font-size: 24px;
	margin-top: 1.5em;
}
.lp-brand {
	color: #231F20;
	font-size: 24px;
}
.lp-price-cont {
	margin: 18px 0;
}
.lp-price-left {
	background: url(/img/price-tag-large-left.png) 0 0 no-repeat;
	width: 2px;
	height: 37px;
	float: left;
}
.lp-price {
	height: 28px;
	line-height: 18px;
	background: url(/img/price-tag-large.png) right top no-repeat;
	font-size: 18px;
	color: white;
	font-weight: bold;
	padding: 9px 20px 0 10px;
	font-family: 'Rockwell W01';
	float: left;
}
.lp-buy {
	background: #FBAF3F;
	border-radius: 6px;
	color: white;
	font-weight: bold;
	height: 36px;
	text-align: center;
	margin: 20px 0 0 0;
	display: block;
	width: 140px;
	border: none;
	cursor: pointer;
	font-size: 18px;
	box-shadow: 1px 1px 3px 0 #ccc;
	text-shadow: 1px 1px 2px #666;
}
.lp-buy:hover {
	background: #F89B39;
}
.lp-desc {
	font-family: "Myriad Pro", sans-serif;
	font-size: 14px;
	color: #231F20;
}
#lp-comments {
	width: 412px;
	height: 310px;
	overflow-y: scroll;
	float: left;
	margin-top: 20px;
}
.close {
	position: fixed;
	top: 50%;
	left:50%;
	z-index: 1001;
	width: 30px;
	height: 30px;
	background: url(/img/close.png) 0 0 no-repeat;
	cursor: pointer;
}
.close:hover {
	background: url(/img/close.png) -30px 0 no-repeat;
}
#lp-close {
	margin-left: 345px;
	margin-top: -242px;
}