<a href="#" class="item" target="_blank">
        <img src="<%= image_url %>" alt="" />
        <div class="price">$10</div>
        <div class="rating up">33</div>
</a>
<div class="item-overlay">
        <div class="like-buttons">
                <div class="thumbs-up"></div>
                <div class="thumbs-down"></div>
        </div>
        <div class="save-for-later"></div>
</div>